<link rel="stylesheet" href="/css/login.css">
<div id="login">
    <header>Login</header>
    <form action = "javascript:void(0);">
        <label>Username:</label>
        <input id = 'username-form' type="text">
        <label>Password:</label>
        <input id = 'password-form' type="text">
        <input type="submit" value="Submit" onclick="loginValidation()">
        <span> Don't have an account? <a href="/register">Register</a></span>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/login.js"></script>