<link rel="stylesheet" href="/css/my-page.css">
<nav>
    <header>Todos With Friends</header>
    <div>
        <a class="selected" href="/my-page">My Page</a>
        <a href="/todos">Todos</a>
        <a href="/friends">Friends</a>
    </div>
</nav>
<section id="long-term-goals">
    <header style="margin-left: 2vw;">Noah's Goals</header>
    <div id="long-term-goal"></div>
</section>
<section id="all-todos">
    <header>Todo History</header>
    {{#each todoData}}
    <table CELLSPACING=0 BORDER=0>
        <thead>
            <tr>
                <th>Date</th>
                <th>Section</th>
                <th>Task</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td class="date">{{this.date}}</td>
                <td class="section">{{this.section}}</td>
                <td class="task">{{this.task}}</td>
                <td class="status">{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/each}}
</section>



